@{
    ViewBag.Title = "Nhóm class=\"navbar-brand\"12";
    
}
<br />
<div class="row">
    <div class="col-md-8">
       @Html.Action("SlidePartial","Home")
    </div>
    <div class="col-md-4">
        <img src="~/HinhanhSP/qc.jpg" class="img-responsive" alt="" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div>
    <img class="img-responsive" src="~/HinhanhSP/ban123.png" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM BÁN CHẠY </h3>
        <div class="col-md-4">
            <img src="~/HinhanhSP/tui1.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/tui2.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/tui3.jpg" class="img-responsive" alt="" />
        </div>
    </div>
    <div class="row">

        <h3> FLASH SALE </h3>
        <div class="col-md-4">
            <img src="~/HinhanhSP/balo6.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/balo7.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/balo8.jpg" class="img-responsive" alt="" />
        </div>
    </div>
</div>
<div class="danhmuc">
    @Html.Action("DanhmucPartial", "Danhmuc")
</div>
<div class="dt">

    @Html.Action("dtiphonePartial", "Sanpham")
</div>
<div class="dt">

    @Html.Action("dtsamsungpartial", "Sanpham")
</div>

<div class="dt">

    @Html.Action("dtxiaomipartial", "Sanpham")
</div>



